@font-face {
    font-family: "gabiaNapjakBlock";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/gabiaNapjakBlock/gabiaNapjakBlock.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/gabiaNapjakBlock/gabiaNapjakBlock.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/gabiaNapjakBlock/gabiaNapjakBlock.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/gabiaNapjakBlock/gabiaNapjakBlock.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/gabiaNapjakBlock/gabiaNapjakBlock.ttf") format("truetype");
    font-display: swap;
} 
.gabiaNapjakBlock {
    font-family: "gabiaNapjakBlock";
}